

#list {
    list-style-type: none;
    padding: 0px !important;
}

#list > li >input{
    border: none;
    background-color: transparent;
}

#list > li > .editInput {
    outline: none;
    border-bottom: 2px solid grey !important;
}

.linethough {
    text-decoration:line-through ;
}   

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.dashboard {
    width: 40%;
    display: flex;
    justify-content: space-between;

}

.completed > h4 {
    margin: 0px;
}
.pending > h4 {
    margin: 0px;
}